.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #49b82d;
    border-bottom: 2px solid #49b82d !important;
}
.farmwork-manage .scrolltab{
	height: 46px;
    background: #fff;
}
.farmwork-manage .mui-fullscreen{
	bottom: 60px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	color: #a09a9a;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border-top: none;
	border-bottom: none;
}
.farmwork-manage ul{
	padding:2px 10px;
}
.farmwork-manage ul li{
	padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 10px;
    line-height: 28px;
}
.farmwork-manage ul .item{
	padding-left: 20px;
}
.farmwork-manage ul .item .row{
	padding-bottom: 8px;
    margin: 8px 0;
    border-bottom: 1px dashed #c1bbbb;
}
.farmwork-manage ul .item .row .type{
	color: #49b82d;
}
.farmwork-manage ul .infos{
	color: #a09a9a;
}
.farmwork-manage .item .infos .rit,.farmwork-manage ul .item .row .area{
	float: right;
    width: 70%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.farmwork-manage .add{
	position: absolute;
    bottom: 76px;
    padding: 0 auto;
    width: 100%;
    text-align: center;
}
.farmwork-manage .add button{
	background: #38a1ec;
    color: #fff;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group{
	bottom: 60px;
}
