.p-login{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
}
.p-login .inner{
	margin-bottom: 2rem;
    width: 100%;
}
.p-login .inner .bg-img{
    width: 80%;
}
.p-login .content{
    margin: 2.5rem auto 2rem auto;
    width: 90%;
}
.p-login .content .item{
	position: relative;
	padding:0 1rem 0 4.5rem;
	border-bottom:1px solid #E4E4E4;
	height: 3rem;
	font-size: 0.875rem;
}
/*.p-login .content .item .img{
	margin:0 0.5rem 0 0.75rem;
	vertical-align: middle;
}*/
.p-login .content .item span{
	position: absolute;
	left:0;
	bottom:0.75rem;
}
.p-login .content .item input{
	display: inline-block;
	height: 100%;
	width: 100%;
	border:none;
}

.p-login .content .item input:-webkit-autofill{
	background-color: #fff !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.p-login .login{
    display: block;
    margin: 1rem auto 0 auto;
    width: 90%;
    height: 2.8125rem;
    line-height: 2.8125rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

