<div class="xtgl-about">
<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">关于我们</h1>
</header>
<br/><br/>
<div class="div-about">
	<p class="p-about">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智秾信息发展股份有限公司是2018-11-19在上海市注册成立的股份有限公司(非上市、自然人投资或控股)，注册地址位于上海市黄浦区鲁班路558号2楼A18-106室。
	</p>
	<p class="p-about">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智秾信息发展股份有限公司的统一社会信用代码/注册号是91310000MA1FL61Y8F，企业法人张曙华，目前企业处于开业状态。
	</p>
	<p class="p-about">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智秾信息发展股份有限公司的经营范围是：数据处理和存储服务。 【依法须经批准的项目，经相关部门批准后方可开展经营活动】。
	</p>
	<p class="p-about">
		联系电话：021-51077666</br>
		地址：上海市中江路879号11号楼
	</p>
	<p class="p-about" style="margin-top:10px;">
		<p style="text-align: center;">
			<span style="position:absolute;margin-top:70px;margin-left:40px;">公司二维码</span>
			<img src="../pms_app/img/settings/u450.png" title="公司二维码" align="center">
			</p>
	</p>
</div>
</div>