<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">主体详情</h1>
		</header>
		<br/><br/>
<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>生产主体名称</span>
						</div>
						<div>
							<label id="productname">
								新疆乌鲁木齐果业有限公司
							</label>
						</div>
						
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>统一社会信用代码</span>
						</div>
						<div>
							<label id="socialcreditcode">
								123792386249172971293791
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>所属行业</span>
						</div>
						<div>
							<label>
									<input name="checkbox" value="1" type="checkbox" checked="checked">
									<label>种植业</label>
									<input name="checkbox" value="2" type="checkbox" checked="checked">
									<label>畜牧业</label>
									<input name="checkbox" value="3" type="checkbox">
									<label>渔业</label>
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
							<div class="div-header">
								<span>主体规模</span>
							</div>
							<div class="div-body">
								<label>
										<input name="radio1" value="1" type="radio" >
										<label>企业</label>
										<input name="radio2" value="2" type="radio" checked="checked">
										<label>合作社</label>
										<input name="radio3" value="3" type="radio">
										<label>大户</label>
										<input name="radio4" value="4" type="radio" >
										<label>家庭</label>
										<input name="radio5" value="5" type="radio">
										<label>散户</label>
								</label>
							</div>

					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>主体类型</span>
						</div>
						<div>
							<label>
									<input name="checkbox" value="1" type="checkbox" checked="checked">
									<label>生成</label>
									<input name="checkbox" value="2" type="checkbox" checked="checked">
									<label>经营</label>
									<input name="checkbox" value="3" type="checkbox">
									<label>加工</label>
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>营业期限</span>
						</div>
						<div>
							<label>
									<input name="checkbox" value="Item 2" type="checkbox" checked="checked">
									<label>长期</label>
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>行政区划</span>
						</div>
						<div>
							<label id="xzqh">
								新疆乌鲁木齐天山区解放路街道
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>详细地址</span>
						</div>
						<div>
							<label id="address">
								新疆乌鲁木齐黄河路27号
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>生产主体简介</span>
						</div>
						<div>
							<label id="profile">
								主体历史悠久，多年从事种植、畜牧、水产，有2k个池塘，10k个专家
							</label>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="div-header">
							<span>网址</span>
						</div>
						<div>
							<label id="website">
								www.greenmaker.com
							</label>
						</div>
					</li>
					
				</ul>
			</div>
			