<div class="p-home">
	<div  class="mui-slider mui-fullscreen" >
		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" >
			<div class="mui-scroll" id="pro_type">
				<a class="mui-control-item mui-active" id="zz" data-index=0 					href="#slider_zz">
					种植
				</a>
				<a class="mui-control-item" id="xm" data-index=1 
					href="#slider_xm">
					畜牧
				</a>
				<a class="mui-control-item" id="yy" data-index=2 					href="#slider_yy">
					渔业
				</a>
				
			</div>
		</div>
		<div class="mui-slider-group">
			<div id="slider_zz" class="mui-slider-item mui-control-content mui-active">
				<div  class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="item1" curpage=1>
							<li class="item">
								<div class="row">
									<span class="land">地块</span>
									<span class="proName">土豆</span>
									<span class="area">100亩</span>
								</div>
								<div class="time">
									<strong>建档时间：</strong>
									<span>2019-10-10</span>
								</div>
								<h3>最近农事操作：</h3>
								<div class="infos">
									<div >2019-11-11 09:09         除草剂  10kg</div>
									<div >2019-11-11 09:09         除草剂  10kg</div>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="land">地块</span>
									<span class="proName">土豆</span>
									<span class="area">100亩</span>
								</div>
								<div class="time">
									<strong>建档时间：</strong>
									<span>2019-10-10</span>
								</div>
								<h3>最近农事操作：</h3>
								<div class="infos">
									<div >2019-11-11 09:09         除草剂  10kg</div>
									<div >2019-11-11 09:09         除草剂  10kg</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slider_xm" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul id="item2" curpage=1>
							<li class="item">
								<div class="row">
									<span class="land">地块</span>
									<span class="proName">土豆1</span>
									<span class="area">100亩</span>
								</div>
								<div class="time">
									<strong>建档时间：</strong>
									<span>2019-10-10</span>
								</div>
								<h3>最近农事操作：</h3>
								<div class="infos">
									<div >2019-11-11 09:09         除草剂  10kg</div>
									<div >2019-11-11 09:09         除草剂  10kg</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slider_yy" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul curpage=1>
							<li class="item">
								<div class="row">
									<span class="land">地块</span>
									<span class="proName">土豆2</span>
									<span class="area">100亩</span>
								</div>
								<div class="time">
									<strong>建档时间：</strong>
									<span>2019-10-10</span>
								</div>
								<h3>最近农事操作：</h3>
								<div class="infos">
									<div >2019-11-11 09:09         除草剂  10kg</div>
									<div >2019-11-11 09:09         除草剂  10kg</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
		</div>
		
	</div>
	
	
	<div class="add"><button>新建档案</button></div>
	
	
</div>

  
 
  
  
  
  