
		<div class="p-login">
			<form class="form" onsubmit="return false;">
				<div class="header">
					<p class="text">农产品生产过程追溯卫士</p>
				</div>
				<div class="wrap" >
					<input type="text" id="userName" name="userName" placeholder="请输入用户名" class="input"  />
				</div>
				<div class="wrap">
					<input type="password" id="password" name="password" placeholder="请输入密码" class="input" value="">
				</div>
				<button class="btn" id="loginBtn" type="button"  
					data-loading-text="登录中" data-loading-icon="mui-spinner mui-spinner-custom">登&nbsp;录</button>
				<p class="copyright">技术支持：上海中信信息发展股份有限公司</p>
			</form>
		</div>
	