<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<br/><br/><br/><br/>
<form class="mui-input-group">
    <div class="mui-input-row">
        <label>旧密码</label>
        <input type="password" class="mui-input-password" placeholder="请输入密码">
    </div><br/>
	<div class="mui-input-row">
	    <label>新密码</label>
	    <input id="newpassword" type="password" class="mui-input-password" placeholder="请输入新密码">
	</div><br/>
	<div class="mui-input-row">
	    <label>确认密码</label>
	    <input id="confirmpassword" type="password" class="mui-input-password" placeholder="请输入新密码">
	</div><br/>
    <div class="mui-button-row">
        <button type="button" class="mui-btn mui-btn-primary" >确认提交</button>
    </div>
</form>