<div class="p-home">
	<header class="mui-bar mui-bar-nav headbg">  
	      <a class="mui-action-back mui-icon mui-icon-left-nav writeText"></a> 
	      <h1 class="mui-title writeText" id="workTitle">土豆-10号</h1>
	</header>
	<div class="mui-content" id="content">
		<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted scrolltab">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active" href="#item1mobile">
							全部
						</a>
						<a class="mui-control-item" href="#item2mobile">
							播种
						</a>
						<a class="mui-control-item" href="#item3mobile">
							施肥
						</a>
						<a class="mui-control-item" href="#item4mobile">
							施药
						</a>
						<a class="mui-control-item" href="#item5mobile">
							采收
						</a>
						<a class="mui-control-item" href="#item6mobile">
							检测
						</a>
					</div>
				</div>
				<div class="mui-slider-group" style="top: 52px;">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul>
									<li class="item">
										<div class="row">
											<span class="type">播种</span>
											/111
											<span class="area">2019-10-10 09:09</span>
										</div>
										
										<div class="infos">操作人：
											<span class="rit">种植合作社</span>     
										</div>
										<div class="infos">某某肥料：
											<span class="rit">20KG</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul>
									<li class="item">
										<div class="row">
											<span class="type">播种</span>
											/111
											<span class="area">2019-10-10 09:09</span>
										</div>
										
										<div class="infos">操作人：
											<span class="rit">种植合作社</span>     
										</div>
										<div class="infos">某某肥料：
											<span class="rit">20KG</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul>
									<li class="item">
										<div class="row">
											<span class="type">播种</span>
											/111
											<span class="area">2019-10-10 09:09</span>
										</div>
										
										<div class="infos">操作人：
											<span class="rit">种植合作社</span>     
										</div>
										<div class="infos">某某肥料：
											<span class="rit">20KG</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										第4个选项卡子项-1
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					<div id="item5mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										第5个选项卡子项-1
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-2
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					<div id="item6mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										第6个选项卡子项-1
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	
	
	
	
</div>

  
 
  
  
  
  