<div class="xtgl-home">
	<div class="mui-pages">
					<div id="setting" class="mui-page mui-page-center">
				<!--页面标题栏开始-->
				
				<!--页面标题栏结束-->
				<!--页面主内容区开始-->
				<div class="mui-page-content">
					<div class="mui-scroll-wrapper" data-scroll="2">
						<div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);background-color:#22BB63;">
							<div class="xtgl-blank">
								<!-- <ul class="mui-table-view mui-table-view-chevron"> -->
									<!-- <li class="mui-table-view-cell mui-media"> -->
											<div class="xtgl-blank-content">
												<div class="img-cycle">
													<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../myproject/img/settings/u1.png">
												</div>
												
												<div class="mui-media-body">
													主体名称
												</div>
											</div>
								<!-- 			
									</li>
								 --></ul>
							</div>
							<br/><br/>
							<div class="xtgl-principal-div">
								<ul class="mui-table-view mui-table-view-chevron">
									<li class="mui-table-view-cell">
										<a href="#/details" class="mui-navigate-right details"><span>主体详情</span></a>
									</li>
									<li class="mui-table-view-cell">
										<a href="#/resetpassword" class="mui-navigate-right resetpassword">
											<span>修改密码</span>
										</a>
									</li>
									<li class="mui-table-view-cell">
										<a href="#/about" class="mui-navigate-right about"><span>关于我们</span></a>
									</li>
								</ul>
							</div>
							
						</div>
					<div class="mui-scrollbar mui-scrollbar-vertical"><div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: none; height: 617px; transform: translate3d(0px, 0px, 0px) translateZ(0px);"></div></div></div>
				</div>
				<!--页面主内容区结束-->
			</div></div>
</div>
